@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Importing/exporting Excel files</h2>
    <div style="margin-bottom: 8px;">
        <input id="xlsxFileInput" type="file"/>
        <button title="Load" onclick="loadXlsx()">Load</button>
        <button title="Save" onclick="saveXlsx()">Save</button>
    </div>
    <div id="ganttChartView" style="height: 388px;"></div>
</div>
